@model UniHostel.Models.BillAdvancedServiceDetail
@using UniHostel.Models

<div class="h">
    <h1>Advanced Service</h1>
</div>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                <thead>
                    <tr>
                        <th>Service Name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var service in ViewData["AdvancedService"] as IList<AdvancedService>)
                    {
                        <tr>
                            <td>
                                @Html.Raw(service.Name)
                                @Html.Hidden("AdvancedServiceID", service.ID, new {@class= "form-control AdvancedServiceID" })
                            </td>
                            <td>
                                @Html.Raw(service.Unit)
                            </td>
                            <td>
                                @Html.TextBoxFor(details => details.Quantity, new { @type = "number"
                                                                    , @min = "0"
                                                                    , @step = "1"
                                                                    , @value = '0'
                                                                    , @class = "form-control Quantity"
                                                                    , @data_price = service.Price
                                                                    , onChange = "calculateAdvancedServiceMoney(this)"
                                                                    } )
                            </td>
                            <td class="unit-price">
                                @Html.Raw(service.Price)
                            </td>
                            <td class="amount">
                                0
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div class="card-footer small text-muted"></div>

    </div>
</div>