@model UniHostel.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recover Password</title>
    @Styles.Render("~/Content/ampleadmin/ampleadmin-html/ampleadmin-sidebar/css")
    <link href="~/Content/ampleadmin/ampleadmin-html/ampleadmin-sidebar/css/colors/default.css" rel="stylesheet" id="theme" />

</head>
<body>
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="ChangePasswordAction" action="@Url.Action("ChangePasswordAction")" method="post">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(u => u.ID)
                    <h3 class="box-title m-b-20">Recover Password</h3>
                    <b id="message" style="color:red;font-family:Rubik">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </b>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="required" placeholder="New Password" name="password" id="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="required" placeholder="Confirm Password" id="confirm-password">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit"
                                    onclick="return checkMatchPassword()">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    @Scripts.Render("~/Content/ampleadmin/ampleadmin-html/ampleadmin-sidebar")
</body>
</html>
