@model UniHostel.Models.ViewModel.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutForRenter.cshtml";
}
@{
    User user = Session["User"] as User;
    if (user.Host != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="margin-top:40px">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 id=panelName class="panel-title" id="fullname">
                    Change Password
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-9 col-lg-9 ">
                        @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @id = "edit-form" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label for="usr">Old Password </label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="usr">Password </label>
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="pwd">Confirm Password</label>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
